node_modules
vendor
bower_components
.sass-cache
.bundle
*.swp
bin/
include/
pip-selfcheck.json
hello_world.out
dist/
*.css*
elm-stuff/
npm-debug.log
*.beam

# Mix generated gitignore
# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez
apikey
